/* Define que o corpo do documento não terá barras de rolagem visíveis */
body {
    overflow: hidden;
}

/* Estilo para a seção principal do conteúdo */
.content {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
}

/* Estilo para a primeira seção com imagem de fundo */
.section1 {
    background-image: url('../images/imgGrafos/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Estilo para a parte esquerda da primeira seção */
.leftSide {
    flex-direction: column;
    margin-left: 5vh;
    width: 55%;
}

/* Estilo para o título na parte esquerda */
.leftSide h1 {
    position: relative;
    margin-top: 100px;
    margin-left: 3.5vh;
    padding: 1.5vh 3vh;
    font-size: 2.5vh;
    width: fit-content;
    background: #0819b8;
    border-radius: 1vh;
}

/* Estilo para o parágrafo na parte esquerda */
.leftSide p {
    position: relative;
    margin-top: 5vh;
    left: -5vh;
    font-size: 22px;
    line-height: 3.5vh;
    width: 100%;
    padding: 3vh 4vh 3vh 3vh;
    text-align: justify;
    border-radius: 0 4vh 4vh 0;
    background: #00000090;
}

/* Estilo para a parte direita da primeira seção */
.rightSide {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* Estilo para a imagem na parte direita */
.rightSide img {
    width: 80%;
}

/* Estilo para a segunda seção com imagem de fundo */
.section2 {
    background-image: url('../images/imgGrafos/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilo para a subseção dentro da segunda seção */
.subSection2 {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
}

/* Estilo para a caixa de mensagem na subseção 2 */
.msgContent {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
    left: 50%;
}

/* Estilo para a mensagem na caixa de mensagem */
.msg {
    background: #2D008D;
    font-size: max(20px, 2vh);
    padding: 7vh 10vh;
    border-top-left-radius: 50vh;
    border-bottom-left-radius: 50vh;
    text-align: center;
    box-shadow: -1vh 1vh 2vh #000;
    width: 50%;
}

/* Estilo para a seção de explicação posicionada abaixo da subseção 2 */
.sectionExplaning {
    position: absolute;
    width: fit-content;
    left: 5%;
    display: flex;
    flex-direction: column;
    top: 125%;
    justify-content: space-between;
}

/* Estilo para as entidades na seção de explicação */
.sectionExplaning div {
    display: flex;
}

/* Estilo para a entidade genérica na seção de explicação */
.ex {
    margin: 1vh;
    box-shadow: .5vh .5vh 1vh #000;
}

/* Estilo para a entidade do tipo 'Entity' na seção de explicação */
.exEntity {
    background: linear-gradient(90deg, #00031f, #061BD8);
    width: 10vh;
    height: 5vh;
}

/* Estilo para a entidade do tipo 'Relationship' na seção de explicação */
.exRelationship {
    background: linear-gradient(90deg, #122900, #48A500);
    margin-left: 2.5vh;
    width: 7vh;
    height: 5vh;
    transform: rotate(23deg) skewX(-45deg);
}
/* Estilo para atributo */
.exAtribute {
    background: linear-gradient(90deg, #290000, #DD0000);
    border-radius: 60%;
    width: 10vh;
    height: 5vh;
}

/* Estilo para mensagem */
.exMsg {
    font-size: max(20px, 1.8vh);
    margin-left: 5vh;
    margin-top: 2vh;
}

/* Estilo para relação */
.rel {
    margin-left: 6vh;
}

/* Estilo para entidade */
.entity {
    color: #fff;
    position: absolute;
    background: linear-gradient(90deg, #00031f, #061BD8);
    width: 15vh;
    height: 8vh;
    border-radius: 1vh;
    font-size: max(18px, 1.6vh);
    box-shadow: 1vh 1vh 2vh #000;
    z-index: 1;
    transition: 500ms;
    display: none;
}

/* Estilo hover para entidade */
.entity:hover {
    opacity: .9;
    box-shadow: 1vh 1vh 1vh #000000be;
    font-size: max(20px, 1.8vh);
    width: 15.9vh;
    height: 8.7vh;
}

/* Estilo para parte esquerda da segunda seção */
.leftSide2 {
    width: 100%;
    height: 100vh;
}

/* Estilo para contêiner do grafo */
.container {
    position: absolute;
    display: flex;
}

/* Estilo para elementos no contêiner do grafo */
.usr, .disp, .soft, .hard, .comp, .conec, .so {
    left: 45%;
    bottom: -80%;
}

/* Estilo para linhas de conexão no grafo */
.dispToConec, .usrToDisp, .dispToHard, .hardToComp, .dispToSo, .compToComp, .dispToSoft {
    left: 45%;
    bottom: -120%;
}

/* Estilo para linhas de conexão no grafo */
.usrToDispLine1, .usrToDispLine2, .dispToHardLine1H, .dispToHardLine1V, .dispToHardLine2H, .dispToHardLine2V,
.hardToCompLine1, .hardToCompLine2, .compToCompLine1, .compToCompLine2, .dispToSoftLine1H, .dispToSoftLine1V1,
.dispToSoftLine1V2, .dispToSoftLine2H, .dispToSoftLine2V, .dispToSoLine1, .dispToSoLine2, .dispToConecLine1H,
.dispToConecLine1V, .dispToConecLine2H, .dispToConecLine2V {
    position: absolute;
    background: #fff;
    z-index: 0;
    transition: 1s ease-in;
}

/* Estilo para linha de conexão ativa no grafo */
.activeLine {
    box-shadow: 1px 1px 1vh rgb(255, 255, 255);
    background: #a89494;
    padding: 1px;
}

/* Estilo para caixa de mensagem explicativa */
.msgEx {
    left: -10%;
    width: 80%;
    text-align: center;
    position: relative;
    font-size: max(18px, 1.8vh);
    margin-top: 15vh;
    background: #0f40e2;
    background: linear-gradient(45deg, #0f40e200, #0026a0);
    border-radius: 10vh;
    padding: 2vh;
}
