body
{
    overflow: hidden;
}
.content
{
    display: flex;
    flex-direction: column;
    color: #fff;
        overflow: hidden;

}

.section1
{
    background-image: url('../images/imgGrafos/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.leftSide
{
    flex-direction: column;
    margin-left: 5vh;
    width: 50%;
    /* background: #000; */
}

.section1 h1
{
    position: relative;
    margin-top: 15vh;
    margin-left: 3.5vh;
    padding: 1vh 5vh;
    font-size: max(20px, 2vh);
    width: fit-content;
    background: #0c0479;
    border-radius: 1vh;
}

.section1 p
{
    position: relative;
    margin-top: 20vh;
    font-size: max(18px, 2vh);
    width: 80%;
    padding: 3vh;
    border-radius: 3vh;
    background: #00000086;

}

.rightSide
{
    /* background: #ff0000; */
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.rightSide img
{
    width: 80%;
}

.section2
{
    background-image: url('../images/imgGrafos/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subSection2
{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
}

.msgContent
{
    /* position: relative; */
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
    left: 50%;
}

.msg
{
    background: #2D008D;
    background: linear-gradient(45deg, #2D008D, #2d008d00);
    font-size: max(20px, 2vh);
    padding: 7vh 10vh;
    border-top-left-radius: 50vh;
    border-bottom-left-radius: 50vh;
    text-align: center;
    box-shadow: -1vh 1vh 2vh #000;
    width: 50%;
}

.sectionExplaning
{
    position: absolute;
    width: fit-content;
    left: 5%;
    display: flex;
    flex-direction: column;
    top: 125%;
    justify-content: space-between;
}


.sectionExplaning div
{
    display: flex;
}

.ex
{
    margin: 1vh;
    box-shadow: .5vh .5vh 1vh #000;
    border-radius: .5vh;
}

.exEntity
{
    background: linear-gradient(90deg, #00031f, #061BD8);
    width: 10vh;
    height: 5vh;
}

.exRelationship
{
    background: linear-gradient(90deg, #122900, #48A500);
    margin-left: 2.5vh;
    width: 7vh;
    height: 5vh;
    transform: rotate(23deg) skewX(-45deg);
}
.exAtribute
{
    background: linear-gradient(90deg, #290000, #DD0000);

    border-radius: 60%;
    width: 10vh;
    height: 5vh;
}

.exMsg
{
    font-size: max(20px, 1.8vh);
    margin-left: 5vh;
    margin-top: 2vh;
}

.rel
{
    margin-left: 6vh;
}

.entity
{
    color: #fff;
    position: absolute;
    background: linear-gradient(90deg, #00031f, #061BD8);
    width: 15vh;
    height: 8vh;
    border-radius: 1vh;
    font-size: max(18px, 1.6vh);
    box-shadow: 1vh 1vh 2vh #000;
    z-index: 1;
    transition: 500ms;
    display: none;
}

.entity:hover
{
    opacity: .9;
    box-shadow: 1vh 1vh 1vh #000000be;
    font-size: max(20px, 1.8vh);
    width: 15.9vh;
    height: 8.7vh;
}

.leftSide2
{
    width: 100%;
    height: 100vh;
}

.container
{
    position: absolute;
    display: flex;
}

.usr
{
    left: 45%;
    bottom: -80%;
}
.disp
{
    left: 45%;
    bottom: -120%;
}

.soft
{
    left: 70%;
    bottom: -155%;
}

.hard
{
    left: 15%;
    bottom: -90%;
} 

.comp
{
    left: 15%;
    bottom: -130%;
}

.conec
{
    left: 75%;
    bottom: -90%;
}

.so
{
    left: 75%;
    bottom: -120%;
}

.relationship
{
    color: #fff;
    position: absolute;
    background: linear-gradient(90deg, #122900, #48A500);
    /* margin-left: 2.5vh; */
    width: 8vh;
    height: 6vh;
    transform: rotate(23deg) skewX(-45deg);
    box-shadow: 1vh 1vh 2vh #000;
    border-radius: .5vh;
    z-index: 1;
    transition: 500ms;
    display: none;
}

.relationship:hover
{
    opacity: .9;
    box-shadow: 1vh 1vh 1vh #000000a4;
        transform: rotate(30deg) skewX(-30deg);

    padding: 4vh;

}

.relationship p
{
    transform: rotate(-45deg) skewX(4deg) scale(.3, 1);
    font-size: max(18px, 3vh);
}

.dispToConec
{
    left: 63%;
    bottom: -107%;
}

.usrToDisp
{
    left: 47%;
    bottom: -100%;
}

.dispToHard
{
    left: 32%;
    bottom: -110%;
}

.hardToComp
{
    left: 17%;
    bottom: -110%;
}

.dispToSo
{
    left: 62%;
    bottom: -120%;
}

.compToComp
{
    left: 17%;
    bottom: -145%;
}

.dispToSoft
{


    left: 57%;
    bottom: -140%;
}

.usrToDispLine1
{
    position: absolute;
    width: .1vh;
    height: 14.6%;
    background: #fff;
    left: 49%;
    bottom: -95%;
}

.usrToDispLine2
{
    position: absolute;
    width: .1vh;
    height: 12%;
    background: #fff;
    left: 49.5%;
    bottom: -112%;
}


.dispToHardLine1H
{
    position: absolute;
    width: 10.5%;
    height: .1vh;
    background: #fff;
    left: 34.5%;
    bottom: -116%;
}

.dispToHardLine1V
{
    position: absolute;
    width: .1vh;
    height: 6%;
    background: #fff;
    left: 34.5%;
    bottom: -116%;
}

.dispToHardLine2H
{
    position: absolute;
    width: 11.5%;
    height: .1vh;
    background: #fff;
    left: 23%;
    bottom: -86%;
}

.dispToHardLine2V
{
    position: absolute;
    width: .1vh;
    height: 18%;
    background: #fff;
    left: 34.5%;
    bottom: -103.9%;
}

.hardToCompLine1
{
    position: absolute;
    width: .1vh;
    height: 13.6%;
    background: #fff;
    left: 19.5%;
    bottom: -103.5%;
}

.hardToCompLine2
{
    position: absolute;
    width: .1vh;
    height: 12%;
    background: #fff;
    left: 19.5%;
    bottom: -122%;
}

.compToCompLine1
{
    position: absolute;
    width: .1vh;
    height: 12%;
    background: #fff;
    left: 22.5%;
    bottom: -142%;
}

.compToCompLine2
{
    position: absolute;
    width: .1vh;
    height: 12%;
    background: #fff;
    left: 15.5%;
    bottom: -142%;
}

.dispToSoftLine1H
{
    position: absolute;
    width: 9%;
    height: .1vh;
    background: #fff;
    left: 50%;
    bottom: -127%;
}

.dispToSoftLine1V1
{
    position: absolute;
    width: .1vh;
    height: 7%;
    background: #fff;
    left: 50%;
    bottom: -127%;
}

.dispToSoftLine1V2
{
    position: absolute;
    width: .1vh;
    height: 7%;
    background: #fff;
    left: 59%;
    bottom: -134%;
}

.dispToSoftLine2H
{
    position: absolute;
    width: 11%;
    height: .1vh;
    background: #fff;
    left: 59%;
    bottom: -150%;
}

.dispToSoftLine2V
{
    position: absolute;
    width: .1vh;
    height: 10%;
    background: #fff;
    left: 59%;
    bottom: -150%;
}

.dispToSoLine1
{
    position: absolute;
    width: 7.5%;
    height: .1vh;
    background: #fff;
    left: 53%;
    bottom: -117%;
}

.dispToSoLine2
{
    position: absolute;
    width: 7%;
    height: .1vh;
    background: #fff;
    left: 68%;
    bottom: -117%;
}

.dispToConecLine1H
{
    position: absolute;
    width: 9.5%;
    height: .1vh;
    background: #fff;
    left: 52%;
    bottom: -104%;
}

.dispToConecLine1V
{
    position: absolute;
    height: 8.1%;
    width: .1vh;
    background: #fff;
    left: 52%;
    bottom: -112%;
}

.dispToConecLine2H
{
    position: absolute;
    width: 9.5%;
    height: .1vh;
    background: #fff;
    left: 65.5%;
    bottom: -85%;
}

.dispToConecLine2V
{
    position: absolute;
    height: 16%;
    width: .1vh;
    background: #fff;
    left: 65.5%;
    bottom: -101%;
}

.show
{
    display: block;
}

.line
{
    position: absolute;
    background: rgba(107, 80, 80, 0.651);
    z-index: 0;
    transition: 1s ease-in;
}

.activeLine
{
    box-shadow: 1px 1px 1vh rgb(255, 255, 255);
    background: #a89494;
    padding: 1px;
}

.msgEx
{
    left: -10%;
    width: 80%;
    text-align: center;
    position: relative;
    font-size: max(18px, 1.8vh);
    margin-top: 15vh;
    background: #0f40e2;
    background: linear-gradient(45deg, #0f40e200, #0026a0);
    border-radius: 10vh;
    padding: 2vh;
}