


body
{
    overflow: hidden;
}

.content
{
    display: flex;
    flex-direction: column;
    color: #fff;
}
header{
    z-index:10000;
}
.section1
{
    background-image: url('../images//imgHeaps/fundo-heaps-5.jpeg ');
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.leftSide
{
    flex-direction: column;
    margin-left: 5vh;
    width: 60%;
    /* background: #000; */
}

.msgInicial{
    position: relative;
    margin-top: 5vh;
    left: -5vh;
    font-size: 23px;
    width: 100%;
    padding: 4vh;
    /*(sup.esq.,sup.dir.,inf.dir., inf.esq.)*/
    border-radius: 0 4vh 4vh 0; 
    background: #000000bf;
    line-height: 1.2; 

}
.pageTitle
{
    position: relative;
    margin-top: 100px;
    margin-left: 3.5vh;
    padding: 1vh 5vh;
    font-size: 3vh;
    width: fit-content;
    background: #1206afa8;
    border-radius: 1vh;
}


.shelfImg
{
    position: relative;
    margin: 2vh 10vh;
    width: 70vh;
}

.rightSide
{
    display: flex;
    /* left: 60vh; */
    justify-content: end;
    position: relative;
    /* background: #000; */
    width: 80%;
}



::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {  
    color: #fff;
}

.container
{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    /* transition: 1s ease-in-out; */
}

.sliderList img
{
    border-radius: 100%;
    object-fit: cover;
    margin: .5vh auto;

}

.minWidthSliders
{
    width: 1vh;
    filter: blur(0.5px);
    opacity: .5;

}

.maxWidthSliders
{
    width: 12vh;
    filter: blur(0.5px);
    opacity: .8;
    transition: 2s ease-out;

}

.section2
{
    background-image: url('../images/imgHeaps/fundo-heaps-2.png ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8vh;
}


.colunaEsquerda
{
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 70%;
}

.colunaEsquerda h1
{
    font-size: 35px;
}

.colunaEsquerda p
{
    font-size: 20px;
    width: 50%;
}

.colunaDireita
{
    /* display: flex; */
    height: fit-content;
    width: 40%;
    /*display: block;*/
    /* background: #000; */

}

.bgyugi
{
    left: 50%;
    top: 40%;
    margin-left: 50px;
    margin-bottom: -70px;
    height: 100%;

}

.yugi{
    margin-left: 50px;
    margin-top:-24vh;
    z-index: 5;
}

.catchphrase{

    margin-bottom: 100px;
    width: 50%;
    color:rgb(255, 255, 255);
    border-radius: 5vh;
    z-index: 111;
   /* border: 1px solid #fff;
    background: #1900f7;*/
    display: column;
}

#autor{

    text-align: center;
}
#frase{
    font-size: 15px;
    line-height: 1.2;
    text-align: justify;
}
.exodia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }


  .exodia-card{
    
    width: 100px;
    height: 150px;
    /*background-color: #e1e1e1;*/
    border: 3px solid #ee2b2b;
    text-align: center;
    line-height: 70px;
    margin: 30px; /* Espaçamento entre os cards, ajuste conforme necessário */
  }

  .linha1, .linha2, .linha3{
    display: flex;
    justify-content: space-around;
  }
  
  .linha1{
    top:20%;
    width: 40%;
  }

  .linha2 {

    width: 60%;
  }
  
  .linha3 {
    width: 80%;
  }
  
 