body
{
    overflow: hidden;
}

.content
{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.section1
{
    background-image: url('../images/imgVetores/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.leftSide
{
    flex-direction: column;
    margin-left: 5vh;
    width: 50%;
}

.section1 h1
{
    position: relative;
    margin-top: 100px;
    margin-left: 3.5vh;
    padding: 1vh 5vh;
    font-size: 3vh;
    width: fit-content;
    background: #0c0479;
    border-radius: 1vh;
}

.section1 p
{
    position: relative;
    margin-top: 5vh;
    left: -5vh;
    font-size: 25px;
    width: 100%;
    padding: 3vh;
    border-radius: 3vh;
    background: #00000079;

}
.shelfImg
{
    position: relative;
    margin: 2vh 10vh;
    width: 70vh;
}

.rightSide
{
    display: flex;
    justify-content: end;
    position: relative;
    width: 80%;
}

.sliderList img
{
    border-radius: 100%;
    object-fit: cover;
    margin: .5vh auto;

}

.minWidthSliders
{
    width: 1vh;
    filter: blur(0.5px);
    opacity: .5;

}

.maxWidthSliders
{
    width: 12vh;
    filter: blur(0.5px);
    opacity: .8;
    transition: 2s ease-out;

}

.section2
{
    background-image: url('../images/imgVetores/bg.png ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title2
{
    font-size: 2.5vh;
    background: #0a2945;
    text-align: right;
    width: 100%;
    padding: 2.5vh 7.5vh;
    margin-top: 5vh;
    border-top-right-radius: 10vh;
    border-bottom-right-radius: 10vh;
}


.leftSide2
{
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    left: 32%;
    bottom: 10%;
}

.leftSide2 h1
{
    font-size: 35px;
}

.leftSide2 p
{
    font-size: 20px;
    width: 50%;
    position: absolute;
    margin-bottom: 100%;
}

.rightSide2
{
    flex-direction: row;
    height: fit-content;
    width: 30%;
}

.contentSides
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.listContent
{
    display: flex;
    position: absolute;
    top: 70%;
    flex-wrap: wrap;
    left: 1%;
    flex-direction: column;
    z-index: 0;
    width: 30%;
    justify-content: space-between;
}  

.listBox
{
        display: flex;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: -10%;
    border-top: none;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}
.listBox2
{
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    right: 0;
    width: 70%;
    margin-top: 10%;
    z-index: 1;
}

.userGames
{
    border-radius: 2vh;
    background: linear-gradient(#000, #000a1fc0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    padding-top: 2vh;
    border: #0c2d75c0 2px solid;
}
.listBox2 img
{
    display: flex;
    justify-content: left;
}

.bgGeralt
{
    z-index: 0;
}

.itemList
{
    height: 13vh;
    flex-direction: row;
    margin: 1vh;
    border-radius: .5vh;
    justify-content: center;
    align-items: center;
    box-shadow: 1vh 1vh 2vh #000000;
    padding-top: 2vh;
    
}

.itemBoxExample h2
{
    font-size: max(15px, 2vh);

}
.bgGeralt
{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 48%;
    z-index: 0;
}

.itemBox
{
    margin: auto;
    background: linear-gradient(#b386863f, #000322);
    width: fit-content;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 1vh;

}

.userList
{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 1vh;

}

.itemBoxExample
{
    margin: auto;
    background: linear-gradient(#b386863f, #000322);
    width: fit-content;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 999; */
    width: 49%;
    padding: 1vh;
    border-radius: 0vh;
    margin: 1px;
    margin-bottom: 5px;
    border-radius: .5vh;

}

.itemBox h2
{
    padding: 5vh;
    font-size: 25px;
    font-weight: normal;
}

.myList
{
    margin: -7vh 9.6vh;
    margin-top: 0;
    background: #0A2945;
    padding: 2vh 5vh;
    font-size: 25px;
    width: fit-content;
    border-top-right-radius: 12vh;
    border-bottom-right-radius: 12vh;
}
.numb
{
    font-size: 20px;
    position: relative;
    padding: .5vh 1.2vh .5vh 1.2vh;
    box-shadow: 5px 3px 6px #000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bgList
{
    position: absolute;
    z-index: -999;
    bottom: 60%;
}

.botaoVerGames
{
    display: flex;
    position: absolute;
    width: 40vh;
    bottom: 20%;
    right: 0;
    font-size: 2.5vh;
    height: fit-content;
    padding: 2vh 5vh;
    text-align: left;
    background: #00691d;
    box-shadow: -2px 2px 6px rgba(0, 4, 14, 0.733);
    color: #fff;
    border-top-left-radius: 10vh;
    border-bottom-left-radius: 10vh;
    z-index: 99;
}

.botaoVerGames:hover
{
    background: #00571a;
    box-shadow: -2px 2px 4px rgba(0, 4, 14, 0.733)
}

.boxDesc
{
    font-size: 30px;
    width: 50%;
    background: #000000a6;
    padding: 7vh;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    left: 50%;
    bottom: 110%;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
}

.animationBoxDesc
{
    transform: translateX(0);
}

.titleFilm
{
    position: relative;
    display: flex;
    padding: 1vh;
    margin-top: -2vh;
    margin-bottom: 2vh;
    
}

.titleFilm h3
{
    color: #99A5BC;
}

.btnAdd
{
    position: relative;
    padding: 1vh 2vh;
    box-shadow: 3px 4px 5px #000;
    font-size: 20px;
    background: #00691D;
    margin: auto;
    display: flex;
    color: #fff;
    width: 40%;
    border-radius: 5vh;
    text-align: center;
}

.btnAdd:hover
{
    background: #005318;
    box-shadow: 2px 2px 4px #00000088;
}

.btnRemove
{
    position: absolute;
    bottom: 5vh;
    padding: .2vh 1vh;
    box-shadow: 1px 2px 4px #000;
    font-size: 20px;
    background: #690000;
    color: #fff;
    border-radius: 5vh;
    margin-top: 1vh;

}

.btnRemove:hover
{
    background: #4e0000;
    box-shadow: 2px 2px 4px #00000088;
}

.searchMovie
{
    padding: 1vh;
    display: flex;
    margin: auto;
    border-radius: 1vh;
    font-size: 15px;
    width: 10vh;
    margin-top: 1vh;

}

.boxHeader
{
    position: relative;
    bottom: 12%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
}

.myList 
{
    display: flex;
    position: relative;
    background: #0A2945;
    margin: auto 0;
    padding: 1.5vh 8vh;
    font-size: max(25px, 1vh);
    width: 35vh;
    height: fit-content;
    border-top-right-radius: 12vh;
    border-bottom-right-radius: 12vh;
}

.arrowImg
{
    position: relative;
    width: 9%;
    height: 19%;    
    left: 88%;
    top: 5.3vh;
    z-index: 1;
}

.hiddenMenuList
{
    opacity: 0;
    transition: 600ms ease-in-out;
    z-index: -999;
}

.opcoesAdd
{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 95%;
    padding: .5vh;
}

.opcoesAdd button
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.name
{
    font-size: max(15px, 2vh);
    font-weight: 600;
    position: relative;
    display: flex;
    padding: 1vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: .2vh;
    background: linear-gradient(90deg, #00010c, #00295885);
    margin-bottom: 0.5vh;
}

.nameExample
{
    font-size: max(15px, 2vh);
    font-weight: 600;
    position: relative;
    display: flex;
    padding: 1vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: .2vh;
    background: linear-gradient(90deg, #00010c, #00000085);
    border-radius: 10vh;
    margin-bottom: 0.5vh;
    width: 32%;
    height: 4%;
}

.btnAdicionar {
    background-color: rgb(0, 99, 0); 
    box-shadow: 1vh 1vh 2vh #000000b0;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer; 
    font-size: max(20px, 1.5vh);
    border-radius: 1vh;
    padding: 1vh;
}

.btnAdicionar:hover
{
    background-color: rgb(0, 70, 0); 
    box-shadow: 1vh 1vh 1vh #00000085;
}

.containerAvailable
{
    position: absolute;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    background: linear-gradient(#000000c0, #000144d5);
    background-size: cover;
    border: rgba(0, 0, 0, 0.884) 1px solid;
    box-shadow: -50px -70px 90px #00000081;
    top: 70%;
    overflow: auto;
    padding: 2vh;
    padding-top: 6vh;
    z-index: 999;
    border-radius: 3vh;
    transition: 600ms ease-in-out;
    transform: translateX(0%);
    transition: 1s;
}

.hiddenOpcoes
{
    z-index: 1;
    background: linear-gradient(45deg, #000a16f6, #00050a);
    border-radius: 1vh;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    position: fixed;
    width: 20%;
    border: #000000ea solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    bottom: 100%;
    padding: 2vh;
    position: absolute;
    left: 40%;
    transform: translateX(0);
    animation: 1.5s ease-in-out;
    justify-content: center;
}


.translateHiddenOpcoes1
{
    transform: translateX(350%);
}
.translateHiddenOpcoes2
{
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.translateHiddenOpcoes
{
    transform: translateX(0%);
}

.backAllTranslateHiddenOpcoes
{
    transform: translateX(350%);
}

.titleOpc
{
    text-align: center;
    border-radius: .5vh;
    font-size: 18px;
    padding: .2vh 1vh;
    width: 100%;
    background: linear-gradient(90deg, #3f0d0d98, #002d6198);
    font-size: max(18px, 1.5vh);
}

.txtOpc
{
    font-size: 18px;
    padding: 1vh;
    background: linear-gradient(45deg, #3f0d0d7c, #002d61ab);
    margin-top: -1vh;
    text-align: center;
    border-radius: .5vh;
}

.searchFilme
{
    top: 2vh;
    position: absolute;
    padding: .5vh 1vh;
    font-size: 18px;
    border-radius: .8vh;
    left: 2vh;
}

.btnFechar
{
    position: absolute;
    padding: .5vh 1.2vh;
    box-shadow: 1px 2px 4px #000;
    font-size: 25px;
    background: #9e0000;
    margin: auto;
    display: flex;
    color: #fff;
    border-radius: 5vh;
    bottom: 93.5%;
    left: 0%;
}

.imgAdd
{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    width: fit-content;
}

.imgSelected
{
    width: 13.5vh;
    box-shadow: 6px 6px 100px rgb(96, 205, 255);
    border: #002958 5px solid;
}

.menuTitulos
{
    width: 50%;
    height: 50vh;
    display: flex;
    position: absolute;
    align-items: start;
    justify-content: center;
    /* margin: auto; */
    padding-top: 6vh;
    left: 53%;
    bottom: 0%;
    z-index: 1;
    border-radius: 3vh;
    transition: 600ms ease-in-out;
    transform: translateX(0%);
    transition: 1s;
}

.hiddenSideAvailable
{
    transform: translateX(110%);
    transition: 1s;
}

.visibleSideAvailable
{
    transform: translateX(0%);
    transition: 1s;
}

.confirmAddMeio
{
    background: #00691D;
}

.cancelAddMeio
{
    background: #9e0000;
}

.opcBtn
{
    padding: 1vh;
    font-size: 15px;
    width: 15vh;
    margin: 1vh 0 auto;
    color: #fff;
    border-radius: 1vh;
}

.opcBtn:hover
{
    background: #9753533a;
}

.hiddenInput
{
    display: none !important;
    z-index: -999 !important;
}

.listAvailable
{
    height:  20vh;
    box-shadow: 10px 10px 50px #000;
}

.listAvailable:hover
{
    box-shadow: 10px 8px 55px #0842ac98;
}

.nossosGames
{
    position: absolute;
    background: #044685ad;
    font-size: max(20px, 2vh);
    font-weight: 600;
    top: -3%;
    padding: 1vh 2vh;
    border-radius: 1vh;
    width: 100%;
    text-align: center;
}

.listBoxUser
{
    background: #000;
    width: 100%;
    height: 50vh;
}

.classUserList
{
    height: 15vh;
    padding: 0;
    margin: 0;
}

.txtVetor
{
    position: absolute;
    font-size: max(20px, 2vh);
    bottom: 105%;
    background: #0c0024c0;
    width: auto;
    padding: 1vh 5vh;
    border-radius: 1vh;
}

hr
{
    width: 100%;
    height: 1vh;
    border-radius: 5vh;
    background: linear-gradient(90deg, #0c002400 , #0c0024);
}