.footerBody
{
    position: relative;
    display: flex;
    background: linear-gradient(#060429, rgb(0, 0, 0)) no-repeat;
    height: auto;
    flex-direction: column;
    z-index: 0;
    padding-top: 1vw;
}

.lastText
{
    display: flex;
    color: #73a4c5;
    align-items: center;
    justify-content: center;
    font-size: max(10px, 1vw);
    width: fit-content;
    margin: auto;
    text-align: center;
    border-top: .1vw solid;
    padding: 5vw;
}

@media (max-width: 768px) 
{
    .footerBody
    {
        height: 60vh;
    }
}
.wave
{
    background: #000;
    margin-bottom: -5px;
}

.logoFooter
{
    margin-top: 100px;
    width: 7rem;
    height: 7rem;
    position: relative;
    align-items: center;
    margin: auto;
    cursor: pointer;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    z-index: -1;
}

.dataName
{
    width: fit-content;
    margin: 5vw auto;
    color: aliceblue;
    font-size: max(25px, 2vw);
}

.phrase
{
    font-weight: 500;
    font-size: max(12px, 1vw);
    color: #4f758f;
    width: 100%;
    margin: auto;
    text-align: center;
    background: #00000028;
    padding: 5vw;
    margin-bottom: 3vw;
}

a
{
    color: #4f758f;
}

.squad
{
    /* background: #000; */
    width: 50%;
    padding-left: 2%;
    margin-top: -30vh;
    padding-bottom: 30vh;
    /* margin-left: 5%; */
}
.titleSquad
{
    color:  #35556bd2;
    font-size: max(20px, 1.2vw);
    margin-bottom: 2vh;
    margin-left: -3.5vh;
}
.squad a
{
    display: flex;
    font-size: max(10px, 1.8vh);
    color: #51748b8f;
    cursor: pointer;
}

a p
{
    padding: 0 1% 0 .5%;
    font-size: max(18px, 2vh);
    color: #6790ac;
    font-weight: 500;
    transition: 2000ms ease-in-out;
}

a p:hover
{
    font-size: max(25px, 2.3vh);
    transition: 1000ms ease-in-out;
    /* font-weight: 600; */
    text-shadow: 10px 10px 10px #000000;
}

.dev2
{
    padding-left: 4%;
}
.dev3
{
    padding-left: 8%;
}
.dev4
{
    padding-left: 4%;
}

@media (max-width: 375px)
{
    .footerBody
    {
        height: 100vh;
    }

    .squad
    {
        margin-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .titleSquad
    {
        color:  #35556bd2;
        font-size: 15px;
        margin-bottom: 2vh;
        margin-left: 0vh;
    }
    .squad a
    {
        display: flex;
        font-size: 12px;
        color: #51748b8f;
        cursor: pointer;
    }

    a p
    {
        padding: 0 1% 0 .5%;
        font-size: 15px;
        color: #6790ac;
        font-weight: 500;
        transition: 2000ms ease-in-out;
    }

    a p:hover
    {
        font-size: 14px;
        transition: 1000ms ease-in-out;
        /* font-weight: 600; */
        text-shadow: 5px 5px 5px #000000;
    }
}