/* Estilos para o rodapé */
.footerBody {
    position: relative;
    display: flex;
    background: linear-gradient(#060429, rgb(0, 0, 0)) no-repeat;
    height: auto;
    flex-direction: column;
    z-index: 0;
    padding-top: 1vw;
}

/* Estilos para o último texto no rodapé */
.lastText {
    display: flex;
    color: #73a4c5;
    align-items: center;
    justify-content: center;
    font-size: max(10px, 1vw);
    width: fit-content;
    margin: auto;
    text-align: center;
    border-top: .1vw solid;
    padding: 5vw;
}

/* Estilos para o rodapé em dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    .footerBody {
        height: 60vh;
    }
}

/* Estilos para a onda no rodapé */
.wave {
    background: #000;
    margin-bottom: -5px;
}

/* Estilos para o logotipo no rodapé */
.logoFooter {
    margin-top: 100px;
    width: 7rem;
    height: 7rem;
    position: relative;
    align-items: center;
    margin: auto;
    cursor: pointer;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    z-index: -1;
}

/* Estilos para o nome da data no rodapé */
.dataName {
    width: fit-content;
    margin: 5vw auto;
    color: aliceblue;
    font-size: max(25px, 2vw);
}

/* Estilos para a frase no rodapé */
.phrase {
    font-weight: 500;
    font-size: max(12px, 1vw);
    color: #4f758f;
    width: 100%;
    margin: auto;
    text-align: center;
    background: #00000028;
    padding: 5vw;
    margin-bottom: 3vw;
}

/* Estilos para os links no rodapé */
a {
    color: #4f758f;
}

/* Estilos para a seção do squad no rodapé */
.squad {
    /* background: #000; */
    width: 50%;
    padding-left: 2%;
    margin-top: -30vh;
    padding-bottom: 30vh;
    /* margin-left: 5%; */
}

/* Estilos para o título da seção do squad no rodapé */
.titleSquad {
    color:  #35556bd2;
    font-size: max(20px, 1.2vw);
    margin-bottom: 2vh;
    margin-left: -3.5vh;
}

/* Estilos para os links na seção do squad no rodapé */
.squad a {
    display: flex;
    font-size: max(10px, 1.8vh);
    color: #51748b8f;
    cursor: pointer;
}
/* Estilos para parágrafos dentro de links */
a p {
    padding: 0 1% 0 .5%;
    font-size: max(18px, 2vh);
    color: #6790ac;
    font-weight: 500;
    transition: 2000ms ease-in-out;
}

/* Estilos para o hover nos parágrafos dentro de links */
a p:hover {
    font-size: max(25px, 2.3vh);
    transition: 1000ms ease-in-out;
    /* font-weight: 600; */
    text-shadow: 10px 10px 10px #000000;
}

/* Estilos específicos para o elemento com classe .dev2 */
.dev2 {
    padding-left: 4%;
}

/* Estilos específicos para o elemento com classe .dev3 */
.dev3 {
    padding-left: 8%;
}

/* Estilos específicos para o elemento com classe .dev4 */
.dev4 {
    padding-left: 4%;
}

/* Estilos para a responsividade em dispositivos com largura máxima de 375px */
@media (max-width: 375px) {
    /* Ajustes na altura do rodapé para dispositivos com largura máxima de 375px */
    .footerBody {
        height: 100vh;
    }

    /* Ajustes na seção do squad para dispositivos com largura máxima de 375px */
    .squad {
        margin-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    /* Ajustes no título da seção do squad para dispositivos com largura máxima de 375px */
    .titleSquad {
        color:  #35556bd2;
        font-size: 15px;
        margin-bottom: 2vh;
        margin-left: 0vh;
    }

    /* Ajustes nos links dentro da seção do squad para dispositivos com largura máxima de 375px */
    .squad a {
        display: flex;
        font-size: 12px;
        color: #51748b8f;
        cursor: pointer;
    }

    /* Ajustes nos parágrafos dentro de links para dispositivos com largura máxima de 375px */
    a p {
        padding: 0 1% 0 .5%;
        font-size: 15px;
        color: #6790ac;
        font-weight: 500;
        transition: 2000ms ease-in-out;
    }

    /* Ajustes no hover dos parágrafos dentro de links para dispositivos com largura máxima de 375px */
    a p:hover {
        font-size: 14px;
        transition: 1000ms ease-in-out;
        /* font-weight: 600; */
        text-shadow: 5px 5px 5px #000000;
    }
}
