@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0%;
    margin: 0%;
    /*box-sizing: border-box;*/
}
body{
    width:110%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
}
header{
    width:110%;
    height: 100%;
    border: 1px solid #060429;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .game_side{
    position: relative;
    width: 25%;
    height: 90%;
    border: 1px solid #060429; 
    background-color: #060429;
    box-shadow: 5px 0px 2px, #000;
    color:#fff;
}

header .game_side{
    width:75%;
    background: #0b1320;
    padding-bottom: 10px;
}

header .menu_play{
    width: 100%;
    height:10%;
    background: #111727;
    box-shadow: 0px 3px 8px #000;
}

header .menu_side h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(0deg, #e06806, #e06806);
    display: flex;
    padding: center;
}

header .menu_side p{
    font-size: 15px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    color: #fff;
}

header .menu_side .menu_game{
    width: 107%;
    height: 360px;
    /*border: 1px solid #fff;*/
    margin-top: 40px;
}
header .menu_side .menu_game li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor : pointer;
    transition: .3s linear;
}

header .menu_side .menu_game li:hover{
    background: rgb(105, 105, 170, .1);
}
header .menu_side .menu_game li span{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
header .menu_side .menu_game li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_game li h5{
    font-size: 11px;
    margin-left: 15px;
    color: #fff;
}
header .menu_side .menu_game li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_game li h5 .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}


header .game_side::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 350px;
    background: url('../images/vetor/rpg.png');
}

header .game_side nav{
    width: 90%;
    height: 10%;
    border: 1px solid #fff;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .game_side nav ul{
    display: flex;
}

header .game_side nav ul li{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .game_side nav ul li:hover{
    color: #fff;
}
/*
header .game_side nav ul li:nth-child(1){
    color: #fff;
}
*/
header .game_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .game_side nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: gray;
}
/*
header .game_side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

header .game_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .game_side nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}
*/